version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    command: npm run start:dev
    volumes:
      - ./backend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "5000:5000"
    env_file:
      - .env
    environment:
      CHOKIDAR_USEPOLLING: "true"
    networks:
      - postgres_pg-network

  frontend:
    build: ./frontend
    container_name: frontend
    command: npm run dev -- --host
    volumes:
      - ./frontend:/usr/src/app
      - /usr/src/app/node_modules
    ports:
      - "3000:5173"
    env_file:
      - .env
    environment:
      CHOKIDAR_USEPOLLING: "true"
    depends_on:
      - backend
    networks:
      - postgres_pg-network

networks:
  postgres_pg-network:
    external: true